# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse/
log
logs
.classpath
.settings/
.project
modules/
#precompiled
tmp
test-result
eclipse/
server.pid
modules/
target
