#{extends 'main.html' /}
#{set title:"@diegoram's blog" /}


    <div class="container-fluid">

      <div class="row-fluid">
        <div class="page-header offset2">
          <h2>You wanna keep in touch, don't you? </h2>
        </div>
      </div>
            <br>
            <br>
            <br>
            <br>
            <br>

      <div class="row-fluid">

        <div class="span8 offset2">        
          <div >
            <p>
              <img src="@{'public/images/twitter.png'}" style="width: 100px; height:100 px">
              
              <a href="http://twitter.com/diegoram">http://twitter.com/diegoram</a>

              <img src="@{'public/images/facebook_logo.png'}" style="width: 100px; height:100 px">

              <a href="http://www.facebook.com/DiegoAlRam">http://www.facebook.com/DiegoAlRam</a>
              <img src="@{'public/images/gmail_logo.png'}" style="width: 100px; height:100 px">

              <a href="mailto:diego@hellospamers">mail me</a>

            </p>  
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

          </div>
          <footer class="span9">
            <hr >
           <p>@diegoram 2012</p>
          </footer>

        </div>

    </div> <!-- /container -->  
