#{extends 'main.html' /}
#{set title:"@diegoram's blog" /}


    <div class="container">
      #{if newestPosts.size() > 0 }

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
       	<h1>${newestPosts.get(0).title}</h1>
       	<br>
        <p> ${newestPosts.get(0).text.substring(0,200).concat("...").raw() } </p>
        <p><a class="btn btn-primary btn-large" href = "@{Application.viewPost(newestPosts.get(0).id)}" >Ver más »</a></p>
      </div>
	 #{/if}

      <div class="row">
       	#{if newestPosts.size() > 1 }
			#{olderPost title:newestPosts.get(1).title , text : newestPosts.get(1).text.substring(0,100).concat("....").raw()
			, oldPostId: newestPosts.get(1).id }
			#{/olderPost}
        #{/if}

       	#{if newestPosts.size() > 2}
			#{olderPost title:newestPosts.get(2).title , text : newestPosts.get(2).text.substring(0,100).concat("....").raw() 
			, oldPostId: newestPosts.get(2).id }
			#{/olderPost}
        #{/if}

       	#{if newestPosts.size() > 3}
			#{olderPost title:newestPosts.get(3).title , text : newestPosts.get(3).text.substring(0,100).concat("....").raw()
			, oldPostId: newestPosts.get(3).id }

			#{/olderPost}
        #{/if}

      </div>


    </div> <!-- /container -->  
