#{extends 'main.html' /}
#{set title:"@diegoram's blog" /}


    <div class="container">
      #{if newestPosts.size() > 0 }

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
       	<h1>${newestPosts.get(0).title}</h1>
       	<br>
        <p> ${newestPosts.get(0).text.substring(0,200).concat("...").raw() } </p>
        <p><a class="btn btn-primary btn-large" href = "@{Application.viewPost(newestPosts.get(0).id)}" >Ver más »</a></p>
      </div>
	 #{/if}

      <div class="row">
       	#{if newestPosts.size() > 1 }
        <div class="span4">
          <h2> ${newestPosts.get(1).title} </h2>
           <p>${newestPosts.get(1).text.substring(0,100).concat("....").raw()}</p>
          <p><a class="btn" href="@{Application.viewPost(newestPosts.get(1).id)}">Detalle... »</a></p>
        </div>
        #{/if}

       	#{if newestPosts.size() > 2}
        <div class="span4">
          <h2> ${newestPosts.get(2).title} </h2>
           <p>${newestPosts.get(2).text.substring(0,100).concat("....").raw()}</p>
          <p><a class="btn" href="@{Application.viewPost(newestPosts.get(2).id)}">Detalle... »</a></p>
        </div>
        #{/if}

       	#{if newestPosts.size() > 3}
        <div class="span4">
          <h2> ${newestPosts.get(3).title} </h2>
           <p>${newestPosts.get(3).text.substring(0,100).concat("....").raw()}</p>
          <p><a class="btn" href="@{Application.viewPost(newestPosts.get(3).id)}">Detalle... »</a></p>
        </div>
        #{/if}

      </div>


    </div> <!-- /container -->  
