#{extends 'main.html' /}
#{set title:"Titulo del post" /}


    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, amigo!</h1>
        <p> Esta página aún está en contrucción pero mi intención es hacer una bajada de línea de aquellas cosas que son por demas útiles e interesantes
        pero en la vorágine de nuestro dia a dia se nos pasan por alto, o simplemente la descartamos por creerlas demasiados arduas para encararlas.
		</p>
		<p> Paso mucho tiempo investigando fórmulas o código en la net para resolver problemas que atañen a mi hobbie y/o a mi trabajo. Muchas de ellas
		las logro resolver leyendo la experiencia de otros (la cual no dejo de agradecer todos los días) y otro tanto lo resuelvo por mi cuenta, quizas no 
		de la mejor forma, pero si de la forma que finalmente sirve, la que funciona ;-). Por ende quiero aportarle a la net esa humilde porción de 
		conocimiento, y que el Dios Google (como diria @Hi_Matt) me indexe bien como para resolverle un poco la vida a los demás.
		</p>
        <p><a class="btn btn-primary btn-large">Ver más »</a></p>
      </div>
      <hr>

      <footer>
        <p>@diegoram 2012</p>
      </footer>

    </div> <!-- /container -->  
