#{extends 'main.html' /}
#{set title:post.title /}
<div class = "breadcrumb">
<ul>
<li><a href="@{Application.index()}">Home</a></li>
<li class = "divider">-></li>
<li class="active"><a href="@{Application.viewPost(post.id)}"> #{if post.title.length() >= 20} ${post.title.substring(0,20)} #{/if} #{else} ${post.title} #{/else} </a></li>
</ul>
</div>
<div class = "row">
	<div class = "container">
		<div class = "span1">
			<p></p>
		</div>
	    <div class="span10">
		       <div class="hero-unit">
			        <h1>${post.title}</h1>
			        <br>
			        <article>
			        ${post.text.raw()}
			        </article>
				</div> <!--hero unit -->
	  	</div> <!--span6 -->
	  	<div class = "span1">
			<p></p>
		</div> 	
	  
</div> <!-- container -->
</div> <!-- row -->
<div class="row">
	<div class = "container">
			<div class="span1">
				<p></p>
			</div> <!-- span1 -->
	
			<div class="span10">
				<h2>Comentarios</h2>
			</div> <!-- span10 -->
			<div class="span1">
				<p></p>
			</div> <!-- span1 -->
	</div>
</div> <!-- row -->

<div class="row">
	<div class = "container">
			<div class="span1">
				<p></p>
			</div> <!-- span1 -->
	
			<div class="span10">
				#{formComment  postId : post.id /}
			</div> <!-- span10 -->
			<div class="span1">
				<p></p>
			</div> <!-- span1 -->
	</div>
</div> <!-- row -->


#{if post.comments.size() > 0}
	#{list items:post.comments, as:'comment'}

		<div class = "row">
			<div class = "container">
				<div class="span1">
					<p></p>
				</div> <!-- span1 -->
				<div class="span10">
					%{
						name = comment.author!=null ? comment.author.firstname : comment.author_firstname ;  
					}%
					<h4>${name}: </h4>
					<p><em>${comment.text}</em></p>
				</div>
				<div class="span1">
					<p></p>
				</div> <!-- span1 -->				
			</div>
		</div> <!--row -->
	#{/list}								  
#{/if}
  