#{extends 'main.html' /}
#{set title:"Titulo del post" /}
<div class = "breadcrumb">
	<a>Home</a> -> <a class = "active" >Primer post</a>
</div>
<div class = "container">
	<div class = "offset2">
	    <div class="span7">
		       <div class="hero-unit">
			        <h1>${post.title}</h1>
			        <br>
			        ${post.text}
				</div> <!--hero unit -->
				<div class="row">
					<div class="span4">
						<h2>Comentarios</h2>
					</div> <!-- span4 -->
				</div> <!-- row -->
				<hr>
				<div class = "row">
					<div class="span4">
						<h4>Diego Ramirez: </h4>
						<p><em>Alto negro de mierda!!</em></p>
					</div>
				</div>
				<div class = "row">
					<div class="span4">
						<h4>Diego Ramirez: </h4>
						<p><em>Alto negro de mierda!!</em></p>
					</div>
				</div>				  
				<div class = "row">
					<div class="span4">
						<h4>Diego Ramirez: </h4>
						<p><em>Alto negro de mierda!!</em></p>
					</div>
				</div>				  
				<div class = "row">
					<div class="span4">
						<h4>Diego Ramirez: </h4>
						<p><em>Alto negro de mierda!!</em></p>
					</div>
				</div>				  
								  
	  </div> <!--span7 -->  
	</div> <!--offset2 -->  
</div> <!-- container -->    